body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: aliceblue;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(211, 19, 211);
  padding: 0rem 2rem;
}

.inputsection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.input1 {
  margin-right: 9rem;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  border: none;
  background-color: rgb(211, 19, 211);
  width: 500px;
  padding: .4rem 0rem;
  color: aliceblue;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: .2rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

button:active {
  background-color: rgb(205, 83, 205);
}

.imgsection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toptext {
  position: absolute;
  top: 40%;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bottomtext {
  position: absolute;
  top: 60%;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media screen and (max-width:800px) {
  body{
    overflow: hidden;
  }
  nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(211, 19, 211);
      padding: 0rem 1rem;
    }

    nav h2 {
      font-size: 1rem;
    }

    nav img {
      width: 40px;
    }
  
    .inputsection {
      display: flex;
      align-items: center;
      height: 8vh;
    }

    .inputsection input {
      width: 150px;
    }

    .input1 {
      margin-right: 1.5rem ;
    }
  
    .btn {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  
    button {
      border: none;
      background-color: rgb(211, 19, 211);
      width: 360px;
      padding: .4rem 0rem;
      color: aliceblue;
      font-weight: bolder;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      border-radius: .2rem;
      cursor: pointer;
      margin-bottom: 2rem;
    }
  
    button:active {
      background-color: rgb(205, 83, 205);
    }
  
    .imgsection {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .imgsection img {
      width: 350px;
    }
  
    .toptext {
      position: absolute;
      top:25%;
      font-size: 1.5rem;
      word-wrap: break-word;
      word-break: break-all;
      font-weight: bolder;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  
    .bottomtext {
      position: absolute;
      top: 35%;
      word-wrap: break-word;
      word-break: break-all;
      font-size: 1.5rem;
      font-weight: bolder;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


}